<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::header-fragment"></header>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <div th:replace="admin/header::header-nav"></div>
  <div th:replace="admin/sidebar::sidebar-fragment"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Admin index
        <small>(◔౪◔)</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Admin</a></li>
        <li class="active">index</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <h1>
        看到这里就是登录成功啦 >_
      </h1>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <div th:replace="admin/footer::footer-fragment"></div>
  <!-- Control Sidebar -->
  <div th:replace="admin/control_sidebar::control-sidebar-fragment"></div>
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>

<!-- jQuery 3 -->
<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap 3.3.7 -->
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.min.js}"></script>

</body>
</html>
